body {
  text-align: center;
  color: white;
  font-family: Arial;
  background: linear-gradient(135deg, black, red);
}

.profile img {
  width: 150px;
  border-radius: 50%;
}

.certificates img {
  width: 150px;
  margin: 10px;
  border: 2px solid white;
}

input, textarea {
  width: 250px;
  margin: 5px;
  padding: 8px;
}

button {
  background: red;
  color: white;
  padding: 10px;
  border: none;
}